body {
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Explicitly allow vertical scrolling */
    min-height: 100vh;
    font-family: sans-serif;
    }

    section {
        padding: 80px 20px; /* Adds breathing room between sections */
        min-height: 600px;  /* Forces the page to be longer than the screen */
        width: 100%;
        display: block;     /* Ensures they stack on top of each other */
    }

    html {
        width: 100%;
        height: 100%; 
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #9696ff;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    /* text color */
    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: rgb(0 0 0);
        font-size: 40px;
    }

    .navLeft {
        display: flex;
        gap: 60px;
        margin: 30px;
        list-style: none;
    }

    .navRight {
        margin: 20px;
        padding: 20px;
    }

    /* navRight button */
    .navRight a {
        text-decoration: none;
        background-color: #24a0ed;
        border-radius: 15px;
        padding: 15px 50px;
        font-size: 30px;
    }

    .navRight a:hover {
        background-color: #2980b9;
        color: #fff;
        transform: translateY(-3px); 
        box-shadow: 0 5px 15px rgb(0 0 0 / 20%); 
        transition: all 0.3s ease; 
    }

    .navRight a:active {
        transform: translateY(1px); 
        box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
        background-color: #1c598a; 
    }


    /* When hovers on genres */
    .dropDown {
        position: relative;
        display: inline-block;
    }

    /* default dropdown */
    .dropDownGenre {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        min-width: 160px;
        transform: translateY(10px); /* Starts slightly lower */
        transition: all 0.4s ease; /* The speed of the animation */
        background-color: rgb(255 255 255);
        box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
        z-index: 1;
    }
