<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <style>
        .button{
            color: black;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <form action="/register" method="POST">
        <div class="container">
            <h1>Sign Up</h1>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder ="Email" name="email" required>
            <label for="password"><b>Password</b></label>
            <input type="text" placeholder ="Password" name="password" required>
            <div class="button">
                <button type="submit" class="signupbutton">Sign Up</button>
            </div>
            <div>
                <a href="/log-in">Login here</a>
            </div>
        </div>
    </form>
</body>
</html>